In [1]:
# importing all required packages & notebook extensions at the start of the notebook
import os
import pandas as pd
import qiime2 as q2
from qiime2 import Visualization

%matplotlib inline

or_dir = '../data' #original data (demux sequences, metadata)
data_dir = 'data' #data from polybox (ASV, taxonomy analysis)

In [2]:
! pwd

/home/jovyan/HelicopterBaby/Phylogeny, alpha and beta diversity

In [5]:
metadf = pd.read_csv('../data/metadata.tsv', sep='\t')

In [10]:
metadf.head()

,id,Library Layout,Instrument,collection_date,geo_location_name,geo_latitude,geo_longitude,host_id,age_days,weight_kg,...,birth_length_cm,sex,delivery_mode,zygosity,race,ethnicity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,PAIRED,Illumina MiSeq,2011-11-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,42.1,232.0,NaN,...,47.0,male,Cesarean,Monozygotic,Caucasian,Not Hispanic,True,fd,True,8.0
1,ERR1314183,PAIRED,Illumina MiSeq,2010-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,27.2,192.0,NaN,...,45.0,female,Cesarean,Dizygotic,Caucasian,Hispanic,True,fd,True,6.0
2,ERR1314184,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.1,536.0,NaN,...,51.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
3,ERR1314185,PAIRED,Illumina MiSeq,2011-12-11 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,28.2,537.0,NaN,...,50.0,female,Cesarean,Monozygotic,Caucasian,Not Hispanic,False,NaN,NaN,18.0
4,ERR1314186,PAIRED,Illumina MiSeq,2013-01-12 00:00:00,"USA, Missouri, St. Louis",38.63699,-90.263794,39.2,688.0,NaN,...,48.0,male,Cesarean,Monozygotic,African-American,Not Hispanic,True,NaN,NaN,23.0

In [13]:
metadf.columns

Index(['id', 'Library Layout', 'Instrument', 'collection_date',
       'geo_location_name', 'geo_latitude', 'geo_longitude', 'host_id',
       'age_days', 'weight_kg', 'length_cm', 'WAZ', 'HAZ', 'WHZ', 'BMI',
       'birth_weight_g', 'birth_length_cm', 'sex', 'delivery_mode', 'zygosity',
       'race', 'ethnicity', 'delivery_preterm', 'diet_milk', 'diet_weaning',
       'age_months'],
      dtype='object')

In [30]:
#this is for getting only the useful information from here because it's gonna spend too mjuch time for running
mtdf = metadf[["id","host_id","age_days","sex","delivery_mode","zygosity","delivery_preterm","diet_milk","diet_weaning","age_months"]]
mtdf.head()

,id,host_id,age_days,sex,delivery_mode,zygosity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,42.1,232.0,male,Cesarean,Monozygotic,True,fd,True,8.0
1,ERR1314183,27.2,192.0,female,Cesarean,Dizygotic,True,fd,True,6.0
2,ERR1314184,28.1,536.0,female,Cesarean,Monozygotic,False,NaN,NaN,18.0
3,ERR1314185,28.2,537.0,female,Cesarean,Monozygotic,False,NaN,NaN,18.0
4,ERR1314186,39.2,688.0,male,Cesarean,Monozygotic,True,NaN,NaN,23.0

In [31]:
mtdf.to_csv("../data/new_metadata_for_a_diversity.tsv", sep = "\t", index = False)

In [32]:
mtdf = pd.read_csv("../data/new_metadata_for_a_diversity.tsv", sep = "\t")

In [33]:
mtdf.head()

,id,host_id,age_days,sex,delivery_mode,zygosity,delivery_preterm,diet_milk,diet_weaning,age_months
0,ERR1314182,42.1,232.0,male,Cesarean,Monozygotic,True,fd,True,8.0
1,ERR1314183,27.2,192.0,female,Cesarean,Dizygotic,True,fd,True,6.0
2,ERR1314184,28.1,536.0,female,Cesarean,Monozygotic,False,NaN,NaN,18.0
3,ERR1314185,28.2,537.0,female,Cesarean,Monozygotic,False,NaN,NaN,18.0
4,ERR1314186,39.2,688.0,male,Cesarean,Monozygotic,True,NaN,NaN,23.0

In [35]:
#then is for the diversity analysis
#first  to see the featrue table
! qiime feature-table summarize \
  --i-table $data_dir/phylogeny_filtered_table.qza \
  --m-sample-metadata-file $or_dir/new_metadata_for_a_diversity.tsv \
  --o-visualization $data_dir/feature-table1109.qzv

Saved Visualization to: data/feature-table1109.qzv

In [37]:
Visualization.load(f'{data_dir}/feature-table1109.qzv')

In [38]:
#check the rarefaction
! qiime diversity alpha-rarefaction \
    --i-table $data_dir/phylogeny_filtered_table.qza \
    --i-phylogeny $data_dir/reference-tree.qza \
    --p-max-depth 10000 \
    --m-metadata-file $or_dir/new_metadata_for_a_diversity.tsv \
    --o-visualization $data_dir/alpha-rarefaction1109.qzv

Saved Visualization to: data/alpha-rarefaction1109.qzv

In [2]:
Visualization.load(f'{data_dir}/alpha-rarefaction1109.qzv')

In [40]:
! qiime diversity core-metrics-phylogenetic \
  --i-table $data_dir/phylogeny_filtered_table.qza \
  --i-phylogeny $data_dir/reference-tree.qza \
  --m-metadata-file $or_dir/new_metadata_for_a_diversity.tsv \
  --p-sampling-depth 8000 \
  --output-dir $data_dir/core-metrics-results1109

Saved FeatureTable[Frequency] to: data/core-metrics-results1109/rarefied_table.qza
Saved SampleData[AlphaDiversity] to: data/core-metrics-results1109/faith_pd_vector.qza
Saved SampleData[AlphaDiversity] to: data/core-metrics-results1109/observed_features_vector.qza
Saved SampleData[AlphaDiversity] to: data/core-metrics-results1109/shannon_vector.qza
Saved SampleData[AlphaDiversity] to: data/core-metrics-results1109/evenness_vector.qza
Saved DistanceMatrix to: data/core-metrics-results1109/unweighted_unifrac_distance_matrix.qza
Saved DistanceMatrix to: data/core-metrics-results1109/weighted_unifrac_distance_matrix.qza
Saved DistanceMatrix to: data/core-metrics-results1109/jaccard_distance_matrix.qza
Saved DistanceMatrix to: data/core-metrics-results1109/bray_curtis_distance_matrix.qza
Saved PCoAResults to: data/core-metrics-results1109/unweighted_unifrac_pcoa_results.qza
Saved PCoAResults to: data/core-metrics-results1109/weighted_unifrac_pcoa_results.qza
Saved PCoAResults to: data/core-metrics-results1109/jaccard_pcoa_results.qza
Saved PCoAResults to: data/core-metrics-results1109/bray_curtis_pcoa_results.qza
Saved Visualization to: data/core-metrics-results1109/unweighted_unifrac_emperor.qzv
Saved Visualization to: data/core-metrics-results1109/weighted_unifrac_emperor.qzv
Saved Visualization to: data/core-metrics-results1109/jaccard_emperor.qzv
Saved Visualization to: data/core-metrics-results1109/bray_curtis_emperor.qzv

In [3]:
#here is the visulization of the diversity analysis
! qiime diversity alpha-group-significance \
  --i-alpha-diversity $data_dir/core-metrics-results1109/faith_pd_vector.qza \
  --m-metadata-file $or_dir/new_metadata_for_a_diversity.tsv \
  --o-visualization $data_dir/core-metrics-results1109/faith-pd-group-significance.qzv

Saved Visualization to: data/core-metrics-results1109/faith-pd-group-significance.qzv

In [5]:
Visualization.load(f'{data_dir}/core-metrics-results1109/faith-pd-group-significance.qzv')